/*
IMPORTA STILI NICO
*/
@import "https://dipartimento.didacommunicationlab.it/dist/app.css?v=1578566027"screen;

/*
  PICCOLE MODIFICHE GENERALI AL LAYOUT
*/
/* questo padding c'è già ma è su .unit quindi non me lo prendeva */
.content-right {
  padding: 10px;
}

/* in alternativa aggiungerlo anche alle tabelle, sennò non stanno allineate */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote {
  padding-left: 0;
  padding-right: 0;
}

/* scusa su questo ho cambiato idea */
.content-right h4 {
  font-weight: 700;
}

.content-right div {
  font-weight: 300;
}

/* questo lo aggiungerei per sicurezza, così che in nessun caso si rompa il layout su mobile */
.content-right {
  overflow-x: hidden;
}



/* MARGINI HEADINGS */
/* questo mettilo come ti pare */
.content-right p,
.content-right h2,
.content-right h3,
.content-right h4,
.content-right h5,
.content-right h6,
.content-right blockquote,
.content-right img,
.content-right table,
.content-right a
 {
  margin-top: 0;
  margin-bottom: 0;
}

.content-right p
{
  margin-top: 0.3em;
}

.content-right>h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.content-right>h3 ,
.content-right>h4 {
  margin-top: 1em;
}

.content-right h2 + h3 {
margin-top: 0.5em;
}

.content-right h3 + h4 {
margin-top: 0.3em;
}










/* STILE BLOCKQUOTE */

.content-right blockquote {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    border: 0;
    padding: 0 0 0 1rem;
    margin: 1.5em 1em 1.5em 1em;
    max-width: 100%;
    border-left: 10px solid #5b7c9f;
}

@media screen and (min-width: 768px) {
.content-right blockquote {
  margin-left: 2.5em;
  margin-right: 2em;
}
}

/*
  STILI IMMAGINI
*/

.content-right p, .content-right h1, .content-right h2, .content-right h3, .content-right h4, .content-right table, .content-right blockquote, .content-right div {
  clear: both;
}

.content-right img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-right p.miniature-text {
  clear: none;
}

.content-right h3.miniature-container {
  text-decoration: underline;
}

.content-right h3.miniature-container img {
  margin-bottom: 1em;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .content-right h3.miniature-container img {
    width: 30%;
    float: left;
    margin-right: 60px;
  }
}

/* per didascalie */
.content-right figure {
  margin: 0 0 20px 0;
  margin-top: 40px;
}

.content-right figure img {
  margin-bottom: 0;
}
.content-right figcaption {
  font-size: 90%;
  margin-top: 5px;
}



/*
  STILI TESTO E LINK
*/

/* questo è nuovo */
.content-right span.evidenza_rosso {
  font-weight: 700;
  color: #b30b0b;
}

/* questo è @color-6 */
.content-right span.evidenza_blu {
  font-weight: 700;
  color: #20608d;
}

/* questo da sostituire a quello che c'è */
.content-right a.hilite, .content-right a.hilite:visited {
    display: block;
    background-color: #5b7c9f;
    color: #ffffff;
    padding: 20px 30px 20px 30px ;
    margin-top: 10px;
    text-transform: none;
    text-decoration: none!important;
    width: max-content;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 3px 3px 6px #ccc;
}



/*
  STILI TABELLE
*/
.content-right table {
  width: 100% !important;
  border-collapse: collapse;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  overflow: auto;
}

.content-right thead, .content-right th {
  background-color: lightgrey;
  font-weight: bold;
}

.content-right thead {
  white-space: nowrap;
}

.content-right tr {
  border: 1px solid black;
}

.content-right td {
  padding: 5px;
  vertical-align: top;
}

.content-right table::-webkit-scrollbar {
  -webkit-appearance: none;
}

.content-right table::-webkit-scrollbar:horizontal {
  height: 11px;
}

.content-right table::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}


/*
  HR
*/

.content-right hr {
  border-top: 1px solid #8c8b8b;
  margin: 40px 0 40px 0;
}
