/*
IMPORTA STILI NICO
*/
@import "https://dipartimento.didacommunicationlab.it/dist/app.css?v=1578566027"screen;

/*
  PICCOLE MODIFICHE GENERALI AL LAYOUT
*/
/* questo padding c'è già ma è su .unit quindi non me lo prendeva */
.content-right {
  padding: 10px;
}

/* in alternativa aggiungerlo anche alle tabelle, sennò non stanno allineate */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote {
  padding-left: 0;
  padding-right: 0;
}

/* scusa su questo ho cambiato idea */
.content-right h4 {
  font-weight: 700;
}

.content-right div {
  font-weight: 300;
}

/* questo lo aggiungerei per sicurezza, così che in nessun caso si rompa il layout su mobile */
.content-right {
  overflow-x: hidden;
}

/* PROPOSTA DI SOLUZIONE PER MARGINI HEADINGS */
/* questo mettilo come ti pare */
h2 {
  margin-top: 0;
}

/* questo si applica agli header */
.content-right>h2 {
  margin-top: 1.5em;
}

blockquote {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    border: 0;
    padding: 0 0 0 1rem;
    margin: 2.5em 2em 2.5em 2em;
    max-width: 100%;
    border-left: 10px solid #5b7c9f;
}

/*
  STILI IMMAGINI
*/

p, h1, h2, h3, h4, table, blockquote, div {
  clear: both;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

p.miniature-text {
  clear: none;
}

h2.miniature-container {
  text-decoration: underline;
}

h2.miniature-container img {
  margin-bottom: 1em;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  h2.miniature-container img {
    width: 30%;
    float: left;
    margin-right: 60px;
  }
}

/* per didascalie */
figure {
  margin: 0 0 20px 0;
  margin-top: 40px;
}
figcaption {
  font-size: 90%;
  margin-top: 5px;
}



/*
  STILI TESTO E LINK
*/

/* questo è nuovo */
span.evidenza_rosso {
  font-weight: 700;
  color: #b30b0b;
}

/* questo è @color-6 */
span.evidenza_blu {
  font-weight: 700;
  color: #20608d;
}

/* questo da sostituire a quello che c'è */
.content-right a.hilite, .content-right a.hilite:visited {
    display: block;
    background-color: #5b7c9f;
    color: #ffffff;
    padding: 20px 30px 20px 30px ;
    margin-top: 10px;
    text-transform: none;
    text-decoration: none!important;
    width: max-content;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 3px 3px 6px #ccc;
}



/*
  STILI TABELLE
*/
table {
  width: 100% !important;
  border-collapse: collapse;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  overflow: auto;
}

thead, th {
  background-color: lightgrey;
  font-weight: bold;
}

thead {
  white-space: nowrap;
}

tr {
  border: 1px solid black;
}

td {
  padding: 5px;
  vertical-align: top;
}

table::-webkit-scrollbar {
  -webkit-appearance: none;
}

table::-webkit-scrollbar:horizontal {
  height: 11px;
}

table::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}


/*
  HR
*/

hr {
  border-top: 1px solid #8c8b8b;
  margin: 40px 0 40px 0;
}
