body, td, pre {
  color: #000;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 8px;
}

.hilite {
  background-color: red;
}

.dimmed {
  background-color: grey;
}

.evidenza_rosso {
  color: red;
  font-weight: bold;
}
.evidenza_blu {
  color: blue;
  font-weight: bold;
