.fisarmonica {
  margin-bottom: 1em;
  padding: .5em;
  background-color: #eee;
}

.fisarmonica > * {
  display: none;
}

.fisarmonica > h3:first-child,
.fisarmonica > div
 {
  display: block;
}

.fisarmonica div h2,
.fisarmonica div h3 {
  display: none;
}

.fisarmonica h3 {
  margin-left: -.3em;
}

.fisarmonica h3::before  {
  padding-left: 1em;
  content: "\276F";
  display: inline-block;
  transition: all .35s;
  transform: rotate(0deg) translateX(-.5em);
}

.fisarmonica.open h3::before {
  transform: rotate(90deg) translateX(-.3em) ;
}

.fisarmonica div {
  max-height: 0;
  transition: max-height .5s;
  overflow: hidden;
}

.fisarmonica.open div {
  max-height: 100vh;
}
